---
cacheable: false
---

<ol id="" class="chapter-toc"><li><a href="/dotnet/#sd-Introduction">Introduction</a></li><li><a href="/dotnet/#sd-Connecting-to-a-Database">Connecting to a Database</a></li><li><a href="/dotnet/#sd-Using-the-Storage-API">Using the Storage API</a></li><li><a href="/dotnet/#sd-Loading-Data">Loading Data</a></li><li><a href="/dotnet/#sd-Making-SPARQL-Queries">Making SPARQL Queries</a></li><li><a href="/dotnet/#sd-Removing-Data">Removing Data</a></li><li><a href="/dotnet/#sd-Reasoning">Reasoning</a></li><li><a href="/dotnet/#sd-dotNetRDF-API-Docs">dotNetRDF API Docs</a></li></ol>