---
cacheable: false
---

<ol id="" class="chapter-toc"><li><a href="/icv/#sd-Introduction">Introduction</a></li><li><a href="/icv/#sd-Getting-Started-with-ICV">Getting Started with ICV</a></li><li><a href="/icv/#sd-ICV-amp--OWL-2-Reasoning">ICV & OWL 2 Reasoning</a></li><li><a href="/icv/#sd-ICV-Examples">ICV Examples</a></li><li><a href="/icv/#sd-Explaining-ICV-Violations">Explaining ICV Violations</a></li><li><a href="/icv/#sd-Using-ICV-Programmatically">Using ICV Programmatically</a></li><li><a href="/icv/#sd-Terminology">Terminology</a></li></ol>