---
cacheable: false
---

<ol id="" class="chapter-toc"><li><a href="/java/#sd-Introduction">Introduction</a></li><li><a href="/java/#sd-Using-Sesame">Using Sesame</a></li><li><a href="/java/#sd-Using-Jena">Using Jena</a></li><li><a href="/java/#sd-Client-Server-Stardog">Client-Server Stardog</a></li><li><a href="/java/#sd-Embedded-Stardog">Embedded Stardog</a></li><li><a href="/java/#sd-Connection-Pooling">Connection Pooling</a></li><li><a href="/java/#sd-API-Deprecation">API Deprecation</a></li><li><a href="/java/#sd-Support-for-Maven">Support for Maven</a></li></ol>