---
cacheable: false
---

<ol id="" class="chapter-toc"><li><a href="/migration/#sd-Deprecating-and-Renaming">Deprecating and Renaming</a></li><li><a href="/migration/#sd-Queries">Queries</a></li><li><a href="/migration/#sd-Connections">Connections</a></li><li><a href="/migration/#sd-Explanations">Explanations</a></li><li><a href="/migration/#sd-Starting-the-server">Starting the server</a></li><li><a href="/migration/#sd-Protocols">Protocols</a></li><li><a href="/migration/#sd-Command-line">Command line</a></li></ol>