---
cacheable: false
---

<ol id="" class="chapter-toc"><li><a href="/owl2/#sd-Introduction">Introduction</a></li><li><a href="/owl2/#sd-Using-Reasoning">Using Reasoning</a></li><li><a href="/owl2/#sd-Explaining-Reasoning-Results">Explaining Reasoning Results</a></li><li><a href="/owl2/#sd-User-defined-Rule-Reasoning">User-defined Rule Reasoning</a></li><li><a href="/owl2/#sd-Special-Predicates">Special Predicates</a></li><li><a href="/owl2/#sd-Query-Rewriting">Query Rewriting</a></li><li><a href="/owl2/#sd-Performance-Hints">Performance Hints</a></li><li><a href="/owl2/#sd-Terminology">Terminology</a></li><li><a href="/owl2/#sd-Not-Seeing-Expected-Answers-">Not Seeing Expected Answers?</a></li><li><a href="/owl2/#sd-Known-Issues">Known Issues</a></li></ol>