- var YYYY = new Date().getFullYear()

//footer.jade

#footer

  <p>For comments, questions, or to report problems with this page, please email the <a href="https://groups.google.com/a/clarkparsia.com/group/stardog/about">Stardog Support Forum</a>.</p>

  p
    &copy;2010&ndash;#{YYYY} Clark & Parsia LLC.&nbsp;
    a(href="http://creativecommons.org/licenses/by-sa/3.0/") Some rights reserved
    .