- var quote = document.quote

.row

  .four.columns
    #image-header
      a(href="http://stardog.com/")
        img(src="/img/stardog.png", alt="Run, Stardog, Run!")

  .eight.columns
    #header-quote
      p
        strong #{quote}
        &mdash;Alan Perlis,
        cite Epigrams in Programming
    #title
      h1
        span#title-masthead Stardog&nbsp;
        span#title-subhead= document.title
