// Your custom SCSS should be written here...
@import url(http://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700);


code,tt,pre,kbd,samp,var, pre span {font-family: "Ubuntu Mono"; font-weight: $font-weight-bold;}

//Should be using some special units!
pre {
       margin-bottom: $base-line-height / 2;
       margin-left: $base-line-height / 2;

}

#title-masthead {
  color: #083959;
  font-weight: $font-weight-bold;

}

#title-subhead {
  color: $sd-lime;
  font-weight: $font-weight-thin;
}

#subfoot-subhead {
  color: $sd-lime;
  font-weight: $font-weight-bold;

}

#title {
  margin-bottom: $base-line-height / 1.5;

}

h2 {
  color: #A61D24;
}

ul {

  list-style: square inside;

}

thead,tfoot {
  font-weight: $font-weight-bold
}

table{
  border: 1px solid #F0F8FF;
  margin-bottom: $base-line-height;
}

th, td{
  padding: 4px;
}

th{
 color: #fff;
 background-color: #aaa
}

tr:nth-of-type(odd) td
{
 background-color:#F0F8FF;
 color: black;
}

a:visited {color: #03738C;}
a:link {color: #8C031C; text-decoration: none;}

.container + .container {
  padding: 75px 20px 70px 20px;
}

.container + .container.nopad {
  padding-top: 0;
  padding-bottom: 0;
}

.container.shaded {
  background-color: $shaded-container-color !important;
}

  .container {
    min-width: 0;
    margin-left: 0;
    margin-right: 0;
  }

.nlm {
  margin-left: 0px;
  padding: 0px;
  border: 0;
  }

a#upaway {
  font-size: $large;
}