- var YYYY = new Date().getFullYear()

//footer.jade
//add the jquery easing plugin to make this really sexy...
.row
  <a href="#" id="upaway" class="skip" gumby-easing="easeInOutQuad" gumby-goto="top" gumby-duration="2000">&uarr;</a>
  //p.skiplink.metro.primary
  //  <a href="" gumby-goto="top">Top</a>
.container.shaded
  .row
     .twelve.columns
       h3 This is&nbsp;
         span#title-masthead Stardog&nbsp;
         span#subfoot-subhead= document.title
         |, part of Stardog Docs <t>version</t>.

       p For comments, questions, or to report problems with this page, visit the <a href="https://groups.google.com/a/clarkparsia.com/group/stardog/about">Stardog Support Forum</a>.

       p &copy;2010&ndash;#{YYYY} Clark & Parsia LLC. <a href="http://creativecommons.org/licenses/by-sa/3.0/">Some rights reserved</a>.
