- var quote = document.quote

.row.valign

  .twelve.columns
    #header-quote
      p
        strong #{quote}
        &mdash;Alan Perlis,
        cite Epigrams in Programming
    #title
      h1.nlm
        span#title-masthead
          img(src="/img/stardog-FLAT.png", style="max-width: 25%;")
        span#title-subhead= document.title
