<div class="navbar" id="nav1">
    <div class="row">
      <a class="toggle" gumby-trigger="#nav1 &gt; .row &gt; ul" href="#"><i class="icon-menu"></i></a>
      <h3 class="five columns logo">
        <a href="http://stardog.com/">
          <img style="max-width: 40%;" src="/img/logotype.png" gumby-retina="">
        </a>
      </h3>
      <ul class="seven columns">
        <li><a href="#">Chapters</a></li>
        <li>
          <a href="#">Related</a>
          <div class="dropdown">
            <ul>
              <li><a href="#">Item</a></li>
              <li><a href="#">Item</a></li>
              <li><a href="#">Item</a></li>
              <li>
                <a href="#">I HAVE STUFF NESTED UNDER ME</a>
                <div class="dropdown">
                  <ul>
                    <li><a href="">nested</a></li>
                    <li><a href="">nested</a></li>
                    <li><a href="">nested</a></li>
                  </ul>
                </div>
              </li>
              <li><a href="#">Item</a></li>
              <li><a href="#">Item</a></li>
              <li><a href="#">Item</a></li>
            </ul>
          </div>
        </li>
        <li><a href="#">Java API</a></li>
        <li class="field"><input class="search input" type="search" placeholder="Search"></li>
      </ul>
    </div>
  </div>